@{
    ViewData["Title"] = "Display Users Page";
}

<div class="row">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header justify-content-between d-flex align-items-center">
                <h4 class="card-title">Utilisateurs</h4>
            </div><!-- end card header -->
            <div class="card-body">
                <table class="table align-middle mb-0 bg-white">
                    <thead class="bg-light">
                        <tr>
                            <th style="text-align: center;">Utilisateur</th>
                            <th style="text-align: center;">Adress</th>
                            <th style="text-align: center;">Offres</th>
                            <th style="text-align: center;">Date d'inscription</th>
                            <th style="text-align: center;">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="text-align: center;">
                                <div class="d-flex align-items-center">
                                    <img src="https://mdbootstrap.com/img/new/avatars/8.jpg" alt=""
                                        style="width: 45px; height: 45px" class="rounded-circle" />
                                    <div class="ms-3">
                                        <p class="fw-bold mb-1">John Doe</p>
                                        <p class="text-muted mb-0">john.doe@gmail.com</p>
                                    </div>
                                </div>
                            </td>

                            <td style="text-align: center;">
                                <span class="">Active</span>
                            </td>
                            <td style="text-align: center;">Senior</td>
                            
                            <td style="text-align: center;">
                                <div class="">
                                    17/02/2022
                                </div>
                            </td>
                            <td class="d-flex justify-content-evenly align-items-center " style="height:2cm ;">
                                <div class="square-switch">
                                    <input type="checkbox" id="square-switch1" switch="none" checked="" />
                                    <label for="square-switch1" data-on-label="On" data-off-label="Off"
                                        class="mb-0"></label>
                                </div>
                            </td>

                        </tr>

                    </tbody>
                </table>
            </div>
            <!-- end card body -->
        </div>
        <!-- end card -->
    </div>
    <!-- end col -->
</div>
