@{
    ViewData["Title"] = "Display Offres Page";
}

<div class="row">
                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-header justify-content-between d-flex align-items-center">
                                        <h4 class="card-title">Offres</h4>
                                    </div><!-- end card header -->
                                    <div class="card-body">
                                       <table class="table align-middle mb-0 bg-white">
  <thead class="bg-light">
    <tr>
      <th>Title</th>
      <th>Date of begin</th>
      <th>Date of end</th>
      <th>Price</th>
      <th>Partenaires</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    
    <tr>
      <td>
        <div class="d-flex align-items-center">
          <img
              src="https://mdbootstrap.com/img/new/avatars/6.jpg"
              class="rounded-circle"
              alt=""
              style="width: 45px; height: 45px"
              />
          <div class="ms-3">
            <p class="fw-bold mb-1">Alex Ray</p>
            <p class="text-muted mb-0">alex.ray@gmail.com</p>
          </div>
        </div>
      </td>
      <td>
        <p class="fw-normal mb-1">17-08-2022</p>
      </td>
       <td>
        <p class="fw-normal mb-1">17-08-2022</p>
      </td>
      <td>Junior</td>
      <td>
        <div class="d-flex justify-content-start">
            <div>
                <img src="https://leap.mediumra.re/assets/img/avatars/male-4.jpg" alt="..." class="w-25 rounded-circle h-40">
            </div>
            <div>
                <img src="https://leap.mediumra.re/assets/img/avatars/male-4.jpg" alt="..." class="w-25 rounded-circle h-40">
            </div>
            <div>
                <img src="https://leap.mediumra.re/assets/img/avatars/male-4.jpg" alt="..." class="w-25 rounded-circle h-40">
            </div>
        </div>
     </td>
      <td>
        <button
                type="button"
                class="btn btn-link btn-rounded btn-sm fw-bold"
                data-mdb-ripple-color="dark"
                >
        <i class="fa-brands fa-searchengin fa-2x" style=" color: #4E3264;"></i>
  </button>
        <button
                type="button"
                class="btn btn-link btn-rounded btn-sm fw-bold"
                data-mdb-ripple-color="dark"
                >
            <i class="fa-solid fa-xmark fa-2x" style=" color: #ff1000;"></i>  
            
        </button>
      </td>

  </tr>

  </tbody>
</table>
                                    </div>
                                    <!-- end card body -->
                                </div>
                                <!-- end card -->
                            </div>
                            <!-- end col -->
                        </div>