<!DOCTYPE html>
<html>

<head>
    <title>@ViewData["Title"] Offre</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/dotn.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body style="background-color:#f9f6fa">
    <div>
        <div class="container">
            <div class="row ">
                <div class="col-4 border" style="background-color:#ffffff">
                    <form>
                        <p class=" h5"><b>Search</b></p>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Depart</label>
                            <input type="text" class="form-control" id="exampleInputEmail1"
                                aria-describedby="emailHelp">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Destignation</label>
                            <input type="text" class="form-control" id="exampleInputPassword1">
                        </div>
                        <div class="form-group">
                            <label>Option</label>

                            <div class="row">
                                <div class="col">
                                    <label for="colFormLabel">Min price per night</label>
                                </div>
                                <div class="col">
                                    <input type="text" class="form-control" id="colFormLabel">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label for="colFormLabel">Min price per night</label>
                                </div>
                                <div class="col">
                                    <input type="text" class="form-control" id="colFormLabel">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label for="colFormLabel">Min price per night</label>
                                </div>
                                <div class="col">
                                    <input type="text" class="form-control" id="colFormLabel">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label for="colFormLabel">Min price per night</label>
                                </div>
                                <div class="col">
                                    <input type="text" class="form-control" id="colFormLabel">
                                </div>
                            </div>
                            <div class="d-flex justify-content-center align-items-center">
                                <button type="submit" class="btn text-white "
                                    style="background-color:#d15c54;">Search</button>
                            </div>
                    </form>
                </div>
            </div>
        </div>



    </div>
    </div>
    </div>
</body>

</html>