<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" />
<div class=" p-5 container-fluid  text-center shadow-lg text-white" style="background-image: url('https://mdbcdn.b-cdn.net/img/new/slides/003.webp');
    height: 70vh;">
    <h1 class="mb-3 h2 pt-5"> <i>Planifiez votre voyage avec le meilleur conseiller Touristique</h1>
</i>
    <p>
Votre Voyages Notre Passion !
    </p>

</div>
<div class="container rounded relative shadow-lg " style="background-color:#efe9f2 ;
z-index: 2; margin-top: -50px;">
    <div class="col-lg-12  p-3 ">
        <form class="row " >
            <div class="col-2 mb-3 mb-lg-0">
<input type="text" class="form-control " placeholder="Ville départ" list="list-timezone" id="input-datalist">
    <datalist  id="list-timezone">
        <option>Asia/Aden</option>
        <option>Asia/Aqtau</option>
        <option>Asia/Baghdad</option>
        <option>Asia/Barnaul</option>
        <option>Asia/Chita</option>
        <option>Asia/Dhaka</option>
        <option>Asia/Famagusta</option>
        <option>Asia/Hong_Kong</option>
        <option>Asia/Jayapura</option>
        <option>Asia/Kuala_Lumpur</option>
        <option>Asia/Jakarta</option>
    </datalist></div>
     <div class="col-2 mb-3 mb-lg-0">
<input type="text" class="form-control" placeholder="ville destination " list="list-timezone" id="input-datalist">
    <datalist id="list-timezone">
        <option>Asia/Aden</option>
        <option>Asia/Aqtau</option>
        <option>Asia/Baghdad</option>
        <option>Asia/Barnaul</option>
        <option>Asia/Chita</option>
        <option>Asia/Dhaka</option>
        <option>Asia/Famagusta</option>
        <option>Asia/Hong_Kong</option>
        <option>Asia/Jayapura</option>
        <option>Asia/Kuala_Lumpur</option>
        <option>Asia/Jakarta</option>
    </datalist></div>
            <div class="col-lg mb-3 mb-lg-0">
                <input type="date" class="form-control col-t"  placeholder="Date">
            </div>
            <div class="col-lg mb-3 mb-lg-0">
                <input type="date" class="form-control" placeholder="Date">
            </div>

            <div class="col-lg mb-3 mb-lg-0">
                <select class="form-select col-t">
                    <option selected >Adultes</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                </select>
            </div>
            <div class="col-lg mb-3 mb-lg-0">
                <select class="form-select">
                    <option selected>Enfants</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                </select>
            </div>
            <div class="col-lg mb-3 mb-lg-0">
                <button type="submit" class=" rounded butt    w-100 p-1 ">Check </button>
            </div>
        </form>
    </div>
</div>


    <div class="container text-center mt-5 my-4">
    <h1 class="font-weight-light pb-3 col-t">Nos offres du moment</h1>
    <div class="row mx-auto my-auto justify-content-center">
        <div id="recipeCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                     <div class="col-md-4">
                        <div class="card m-2">
                            <div class="card-img"> <img
                                    src="https://media.istockphoto.com/id/1185953092/fr/photo/lattraction-principale-de-paris-et-de-toute-leurope-est-la-tour-eiffel-dans-les-rayons-du.jpg?s=612x612&w=0&k=20&c=O-dVJJlzHNws6pU97Lh3-Z1yU0e6_ID877rEMR1SiJE="
                                    class="img-fluid"> </div>
                            <div class="card-img-overlay">Slide 3</div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="col-md-4">
                        <div class="card m-2">
                            <div class="card-img"> <img
                                    src="https://media.istockphoto.com/id/1185953092/fr/photo/lattraction-principale-de-paris-et-de-toute-leurope-est-la-tour-eiffel-dans-les-rayons-du.jpg?s=612x612&w=0&k=20&c=O-dVJJlzHNws6pU97Lh3-Z1yU0e6_ID877rEMR1SiJE="
                                    class="img-fluid"> </div>
                            <div class="card-img-overlay">Slide 3</div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="col-md-4">
                        <div class="card m-2">
                            <div class="card-img"> <img
                                    src="https://media.istockphoto.com/id/1185953092/fr/photo/lattraction-principale-de-paris-et-de-toute-leurope-est-la-tour-eiffel-dans-les-rayons-du.jpg?s=612x612&w=0&k=20&c=O-dVJJlzHNws6pU97Lh3-Z1yU0e6_ID877rEMR1SiJE="
                                    class="img-fluid"> </div>
                            <div class="card-img-overlay">Slide 3</div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="col-md-4">
                        <div class="card m-2">
                            <div class="card-img"> <img
                                    src="https://media.istockphoto.com/id/1185953092/fr/photo/lattraction-principale-de-paris-et-de-toute-leurope-est-la-tour-eiffel-dans-les-rayons-du.jpg?s=612x612&w=0&k=20&c=O-dVJJlzHNws6pU97Lh3-Z1yU0e6_ID877rEMR1SiJE="
                                    class="img-fluid"> </div>
                            <div class="card-img-overlay">Slide 3</div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="col-md-4">
                        <div class="card m-2">
                            <div class="card-img"> <img
                                    src="https://media.istockphoto.com/id/1185953092/fr/photo/lattraction-principale-de-paris-et-de-toute-leurope-est-la-tour-eiffel-dans-les-rayons-du.jpg?s=612x612&w=0&k=20&c=O-dVJJlzHNws6pU97Lh3-Z1yU0e6_ID877rEMR1SiJE="
                                    class="img-fluid"> </div>
                            <div class="card-img-overlay">Slide 3</div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                     <div class="col-md-4">
                        <div class="card m-2">
                            <div class="card-img"> <img
                                    src="https://media.istockphoto.com/id/1185953092/fr/photo/lattraction-principale-de-paris-et-de-toute-leurope-est-la-tour-eiffel-dans-les-rayons-du.jpg?s=612x612&w=0&k=20&c=O-dVJJlzHNws6pU97Lh3-Z1yU0e6_ID877rEMR1SiJE="
                                    class="img-fluid"> </div>
                            <div class="card-img-overlay">Slide 3</div>
                        </div>
                    </div>
                </div>
            </div> <a class="carousel-control-prev bg-transparent w-aut" href="#recipeCarousel" role="button"
                data-bs-slide="prev"> <span class="carousel-control-prev-icon" aria-hidden="true"></span> </a> <a
                class="carousel-control-next bg-transparent w-aut" href="#recipeCarousel" role="button"
                data-bs-slide="next"> <span class="carousel-control-next-icon" aria-hidden="true"></span> </a>
        </div>
    </div>
  
</div>

<div class="m-3 pt-4 ">
    <a href="">
        <img src="https://lfen.ma/assets/frontend/images/bar-voyage-desktop2.png" class="rounded img-fluid"></a>
</div>



<div class="container text-center">
    <h1 class="m-5  col-t">Voyager avec nous c'est profiter de :</h1>
    <div class="row  ">
        <div class="col ">
            <a href="#collapseExample1" aria-expanded="false" aria-controls="collapseExample1"
                data-bs-toggle="collapse">
                <img src="https://atlasvoyages.com/assets/images/upss-1.png" class="rounded img-fluid">
            </a>
        </div>

        <div class="col">
            <a href="#collapseExample2" aria-expanded="false" aria-controls="collapseExample2"
                data-bs-toggle="collapse">

                <img src="https://atlasvoyages.com/assets/images/upss-2.png" class="rounded img-fluid">
            </a>
        </div>
        <div class="col">
            <a href="#collapseExample3" aria-expanded="false" aria-controls="collapseExample3"
                data-bs-toggle="collapse">

                <img src="https://atlasvoyages.com/assets/images/upss-3.png" class="rounded img-fluid">
            </a>
        </div>
        <div class="col">
            <a href="#collapseExample4" aria-expanded="false" aria-controls="collapseExample4"
                data-bs-toggle="collapse">

                <img src="https://atlasvoyages.com/assets/images/upss-4.png" class="rounded img-fluid">
            </a>
        </div>
    </div>
    <div class="row ">
        <div class="col">
            <div class="collapse multi-collapse" id="collapseExample1">
                <div class="card card-body">
                    Meilleur Prix garanti
                    Tous nos voyages sélectionnés te sont proposés au meilleur prix du marché.Nous nous engageons à
                    couvrir la différence si tu trouves moins cher ailleurs, même chez les comparateurs en ligne. </div>
            </div>
        </div>
        <div class="col">
            <div class="collapse multi-collapse" id="collapseExample2">
                <div class="card card-body">
                    Une sélection de plus de 1 500 forfaits voyages
                    Nous t’avons sélectionné plus de 2000 voyages vers 100 destinations à travers le monde (pas les plus
                    chers ;) mais ceux qui te correspondent au max) ! Tous nos collaborateurs se sont démenés : nos
                    vendeurs, notre DG, notre département production… Ne t’embête pas à chercher parmi des millions
                    d’hôtels, on te facilite la tâche, on fait la sélection pour toi ! Dormir sur ses deux oreilles
                    c’est bien, dans des hôtels fait pour TOI c’est mieux… </div>
            </div>
        </div>
        <div class="col">
            <div class="collapse multi-collapse" id="collapseExample3">
                <div class="card card-body">
                    Paiement en DHs simple et 100% sécurisé
                    Tu apréhendes le moment fatidique du paiement ?T’inquiète, on s’adapte à tes besoins et à ton
                    portefeuille… Tu as le choix : tu peux payer par carte ou virement mobile et encore annuler
                    gratuitement la majorité des offres. On te rassure tous nos modes de paiements sont super, hyper,
                    archi, méga sécurisés. Pas totalement rassuré ? Sache que nous sommes aussi l’unique opérateur
                    touristique certifié PCI DSS. </div>
            </div>
        </div>
        <div class="col">
            <div class="collapse multi-collapse" id="collapseExample4">
                <div class="card card-body">
                    Echo : Ton compagnon de voyage
                    Tu as entendu parler d’Echo ? C’est notre service client !Tu vois, il est tellement efficace et
                    smart qu’il a son propre nom… Tu peux le contacter quand tu veux. Oui, oui tu as bien lu, il est
                    dispo h24 et t’accompagne dès ta réservation et ce durant toute ton expérience voyage, même si tu es
                    à l’autre bout du monde. Si loin et pourtant si près ! </div>
            </div>
        </div>
    </div>
    <div class="container m-5">
        <div class="row">
            <div class="col-6">
                <img src="\images\travell.png" class="w-75 rounded img-fluid">
            </div>
            <div class="col-5 mt-5 text-center">
                <h3 class=" col-t">Abonne-toi et reçois nos offres et nos best deals !</h3>
                <p class="pt-2">On ne transmettra jamais tes informations et on ne te spammera pas tous les jours,
                    promis juré</p>
                <div class="input-group  pt-5">
                    <input type="text" class="form-control" placeholder="Votre adresse e-mail"
                        aria-label="Recipient's username" aria-describedby="button-addon2">
                    <button class="butt rounded " type="button" id="button-addon2">Button</button>
                </div>
            </div>
        </div>
    </div>


  <!-- Footer -->
  <footer class="text-center text-white  bg  "  style="
  margin-left: -55px;
  margin-right: -45px;">
    <!-- Grid container -->
    <div >
      <!-- Section: Links -->
      <section class="mt-5">
        <!-- Grid row-->
        <div class="row text-center d-flex justify-content-center pt-5">
          <!-- Grid column -->
          <div class="col-md-2">
            <h6 class="text-uppercase font-weight-bold">
              <a href="#!" class="text-white">About us</a>
            </h6>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2">
            <h6 class="text-uppercase font-weight-bold">
              <a href="#!" class="text-white">Products</a>
            </h6>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2">
            <h6 class="text-uppercase font-weight-bold">
              <a href="#!" class="text-white">Awards</a>
            </h6>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2">
            <h6 class="text-uppercase font-weight-bold">
              <a href="#!" class="text-white">Help</a>
            </h6>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2">
            <h6 class="text-uppercase font-weight-bold">
              <a href="#!" class="text-white">Contact</a>
            </h6>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row-->
      </section>
      <!-- Section: Links -->

      <hr class="my-5" />

      <!-- Section: Text -->
      <section class="mb-5">
        <div class="row d-flex justify-content-center">
          <div class="col-lg-8">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt
              distinctio earum repellat quaerat voluptatibus placeat nam,
              commodi optio pariatur est quia magnam eum harum corrupti
              dicta, aliquam sequi voluptate quas.
            </p>
          </div>
        </div>
      </section>
      <!-- Section: Text -->

      <!-- Section: Social -->
      <section class="text-center mb-5">
        <a href="" class="text-white me-4">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fab fa-google"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fab fa-github"></i>
        </a>
      </section>
      <!-- Section: Social -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div
         class="text-center p-3"
         style="background-color: rgba(0, 0, 0, 0.2)"
         >
      © 2020 Copyright:
      <a class="text-white" href="https://mdbootstrap.com/"
         >MDBootstrap.com</a
        >
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
