<div>
    <div class="container mt-5">
        <div class="row  ">
            <div class="col-4">
                <div class="container border p-3" style="background-color:#efe9f2;
;">
                    <form>
                        <p class=" h5"><b>Search</b></p>
                        <div class="form-group">
                            <label for="exampleInputEmail1"><i>Depart</i></label>
                            <input type="text" class="form-control" id="exampleInputEmail1"
                                aria-describedby="emailHelp">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1"><i>Destignation</i></label>
                            <input type="text" class="form-control" id="exampleInputPassword1">
                        </div>
                        <div class="form-group">
                            <label><i>Option</i></label>

                            <div class="row">
                                <div class="col">
                                    <label for="colFormLabel">Min price per night</label>
                                </div>
                                <div class="col">
                                    <input type="text" class="form-control" id="colFormLabel">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label for="colFormLabel">Min price per night</label>
                                </div>
                                <div class="col">
                                    <input type="text" class="form-control" id="colFormLabel">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label for="colFormLabel">Min price per night</label>
                                </div>
                                <div class="col">
                                    <input type="text" class="form-control" id="colFormLabel">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label for="colFormLabel">Min price per night</label>
                                </div>
                                <div class="col">
                                    <input type="text" class="form-control" id="colFormLabel">
                                </div>
                            </div>
                            <div class="d-flex justify-content-center align-items-center">
                                <button type="submit" class="btn text-white "
                                    style="background-color:#381b51;">Search</button>
                            </div>

                    </form>
                </div>
            </div>


        </div>
        <div class="col-8 ">
            <div class="d-flex align-items-center flex-column">
                <h4><b>Liste</b></h4>
                <p class="font-weight-light text-muted">765 Offre trouvé</p>
            </div>
            <div class="container mt-0
             mb-5">
                <div class="d-flex justify-content-center row">
                    <div class="col">
                        <div class="row p-2 bg-white border rounded">
                            <div class="col-md-3 mt-1 mb-1"><img
                                    class="img-fluid img-responsive rounded product-image h-100"
                                    src="https://i.imgur.com/QpjAiHq.jpg"></div>
                            <div class="col-md-6 mt-1">
                                <h5>Quant olap shirts</h5>
                                <div class="d-flex flex-row">
                                    <div class="ratings mr-2" style="color:red;"><i class="fa fa-star"></i><i
                                            class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                                    </div><span>310</span>
                                </div>
                                <div class="mt-1 mb-1 spec-1"><span>100% cotton</span><span
                                        class="dot"></span><span>Light weight</span><span class="dot"></span><span>Best
                                        finish<br></span></div>
                                <div class="mt-1 mb-1 spec-1"><span>Unique design</span><span
                                        class="dot"></span><span>For men</span><span
                                        class="dot"></span><span>Casual<br></span></div>
                                <p class="text-justify text-truncate para mb-0">There are many variations of passages of
                                    Lorem Ipsum available, but the majority have suffered alteration in some form, by
                                    injected humour, or randomised words which don't look even slightly
                                    believable.
                                <div class="text-end"><a href="">Voir Plus</a></div>
                                </p>
                            </div>
                            <div class="align-items-center align-content-center col-md-3  border-start mt-1">
                                <div class="d-flex flex-row align-items-center">
                                    <h4 class="mr-1">$13.99</h4>
                                </div>
                                <h6 class="shop">Excursions Gratuites</h6>
                                <p style="color:#439eb3"><i
                                        class="fa-sharp fa-solid fa-bag-shopping"></i>&nbsp;Croisière sur le Bosphore
                                    <br /> <i class="fa-solid fa-ship"></i>&nbsp;Virée Shopping
                                </p>
                                <div class="d-flex flex-column mty-0"><button class="btn-sm butt "
                                        type="button">Ajouter au panier</button></div>
                            </div>
                        </div>
                        <div class="row p-2 bg-white border rounded mt-2">
                            <div class="col-md-3 mt-1 mb-1"><img
                                    class="img-fluid img-responsive rounded product-image h-100"
                                    src="https://i.imgur.com/JvPeqEF.jpg"></div>
                            <div class="col-md-6 mt-1">
                                <h5>Quant trident shirts</h5>
                                <div class="d-flex flex-row">
                                    <div class="ratings mr-2" style="color:red;"><i class="fa fa-star"></i><i
                                            class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                                    </div><span>310</span>
                                </div>
                                <div class="mt-1 mb-1 spec-1"><span>100% cotton</span><span
                                        class="dot"></span><span>Light weight</span><span class="dot"></span><span>Best
                                        finish<br></span></div>
                                <div class="mt-1 mb-1 spec-1"><span>Unique design</span><span
                                        class="dot"></span><span>For men</span><span
                                        class="dot"></span><span>Casual<br></span></div>
                                <p class="text-justify text-truncate para mb-0">There are many variations of passages of
                                    Lorem Ipsum available, but the majority have suffered alteration in some form, by
                                    injected humour, or randomised words which don't look even slightly
                                    believable.
                                <div class="text-end "><a href="">Voir Plus</a></div>
                                </p>
                            </div>
                            <div class="align-items-center align-content-center col-md-3  border-start mt-1">
                                <div class="d-flex flex-row align-items-center">
                                    <h4 class="mr-1">$14.99</h4>
                                </div>
                                <h6 class="shop">Excursions Gratuites</h6>
                                <p style="color:#439eb3"><i
                                        class="fa-sharp fa-solid fa-bag-shopping"></i>&nbsp;Croisière sur le Bosphore
                                    <br /> <i class="fa-solid fa-ship"></i>&nbsp;Virée Shopping
                                </p>
                                <div class="d-flex flex-column mty-0"><button class="btn  btn-sm  butt "
                                        type="button">Ajouter
                                        au panier</button></div>
                            </div>
                        </div>
                        <div class="row p-2 bg-white border rounded mt-2">
                            <div class="col-md-3 mt-1 mb-1"><img
                                    class="img-fluid img-responsive rounded product-image h-100"
                                    src="https://i.imgur.com/Bf4dIaN.jpg"></div>
                            <div class="col-md-6 mt-1">
                                <h5>Quant ruybi shirts</h5>
                                <div class="d-flex flex-row">
                                    <div class="ratings mr-2" style="color:red;"><i class="fa fa-star"></i><i
                                            class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                                    </div><span>123</span>
                                </div>
                                <div class="mt-1 mb-1 spec-1"><span>100% cotton</span><span
                                        class="dot"></span><span>Light weight</span><span class="dot"></span><span>Best
                                        finish<br></span></div>
                                <div class="mt-1 mb-1 spec-1"><span>Unique design</span><span
                                        class="dot"></span><span>For men</span><span
                                        class="dot"></span><span>Casual<br></span></div>
                                <p class="text-justify text-truncate para mb-0 mh-3">There are many variations of
                                    passages of
                                    Lorem Ipsum available, but the majority have suffered alteration in some form, by
                                    injected humour, or randomised words which don't look even
                                    slightlybelievable.
                                <div class="text-end "><a href="">Voir Plus</a></div>
                                </p>

                            </div>
                            <div class="align-items-center align-content-center col-md-3  border-start mt-1 ">
                                <div class="d-flex flex-row align-items-center">
                                    <h4 class="mr-1">$13.99</h4>
                                </div>
                                <h6 class="shop">Excursions Gratuites</h6>
                                <p style="color:#439eb3"><i
                                        class="fa-sharp fa-solid fa-bag-shopping"></i>&nbsp;Croisière sur le Bosphore
                                    <br /> <i class="fa-solid fa-ship"></i>&nbsp;Virée Shopping
                                </p>
                                <div class="d-flex flex-column mty-0"><button class="btn  btn-sm  butt "
                                        type="button">Ajouter
                                        au panier</button></div>
                            </div>
                        </div>
                        <div class="row p-2 bg-white border rounded mt-2">
                            <div class="col-md-3 mt-1 mb-1"><img
                                    class="img-fluid img-responsive rounded product-image h-100"
                                    src="https://i.imgur.com/HO8e9b8.jpg"></div>
                            <div class="col-md-6 mt-1">
                                <h5>Quant tinor shirts</h5>
                                <div class="d-flex flex-row">
                                    <div class="ratings mr-2" style="color:red;"><i class="fa fa-star"></i><i
                                            class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                                    </div><span>110</span>
                                </div>
                                <div class="mt-1 mb-1 spec-1"><span>100% cotton</span><span
                                        class="dot"></span><span>Light weight</span><span class="dot"></span><span>Best
                                        finish<br></span></div>
                                <div class="mt-1 mb-1 spec-1"><span>Unique design</span><span
                                        class="dot"></span><span>For men</span><span
                                        class="dot"></span><span>Casual<br></span></div>
                                <p class="text-justify text-truncate para mb-0">There are many variations of passages of
                                    Lorem Ipsum available, but the majority have suffered alteration in some form, by
                                    injected humour, or randomised words which don't look even slightly
                                    believable.
                                <div class="text-end "><a href="">Voir Plus</a></div>
                                </p>
                            </div>
                            <div class="align-items-center align-content-center col-md-3 border-start mt-1">
                                <div class="d-flex flex-row align-items-center">
                                    <h4 class="mr-1">$15.99</h4>
                                </div>
                                <h6 class="shop">Excursions Gratuites</h6>
                                <p style="color:#439eb3"><i
                                        class="fa-sharp fa-solid fa-bag-shopping"></i>&nbsp;Croisière sur le Bosphore
                                    <br /> <i class="fa-solid fa-ship"></i>&nbsp;Virée Shopping
                                </p>
                                <div class="d-flex flex-column mty-0"><button class="btn  btn-sm butt "
                                        type="button">Ajouter
                                        au panier</button></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-center align-items-center mt-2">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>

    </div>

</div>
