/* _content/dotn/Views/Admin/Shared/_Layout.cshtml.rz.scp.css */
/* _content/dotn/Views/Client/Shared/_Layout.cshtml.rz.scp.css */
.nav1[b-om26enle06]{
  background-color: #381b51;
}
.headerIcon[b-om26enle06]{
  color:white;
}
.log[b-om26enle06]{
  background-color: #4A3060;
  color:white;
}
