<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@ViewData["Title"] </title>
  <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
  <link rel="stylesheet" href="~/dotn.styles.css" asp-append-version="true" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" />
</head>

<body style="background-color:#f9f6fa">
  <header>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg nav1">
      <div class="container-fluid">
        <a class="navbar-brand mt-2 mt-lg-0" asp-controller="Client" asp-action="Index">
          <img src="https://mdbcdn.b-cdn.net/img/logo/mdb-transaprent-noshadows.webp" height="15" alt="MDB Logo"
            loading="lazy" />
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <di v class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-4 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active text-white" aria-current="" asp-controller="Client" asp-action="Index">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" asp-controller="Client" asp-action="Search">Search</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="#">Contact us</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Service
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled">Disabled</a>
            </li>
          </ul>
          <button class="btn btn-link shadow-none" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
            aria-controls="offcanvasNavbar">
            <i class="fas fa-shopping-cart headerIcon"></i>
          </button>

          </ul>
          @if (Context.Session.GetInt32("id") != null)
          {
            <ul class="navbar-nav navbar-right  ">


              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                  <img src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/fox.jpg"
                  width="30" height="30" class="rounded-circle">
                </a>
                <ul class="dropdown-menu ">
                  <a class="dropdown-item" asp-controller="Client" asp-action="Profile"> Settings</a>
                  <a href="@Url.Action("Logout","Client")" class="dropdown-item">Logout</a>
                </ul>
              </li>

            </ul>

            @* <p>Email: @Context.Session.GetString("Email").ToString()</p> *@

          }
          else
          {
            <ul class="navbar-nav ml-auto">
              <button class="btn my-2 my-sm-0 log" type="submit"><a class="nav-link text-white" asp-controller="Client"
                asp-action="Login">Login/Register</a></button>
            </ul>
          }
      </div>
      </div>
    </nav>
    <!-- Navbar -->
  </header>
  <div>
    <main role="main">
      @RenderBody()
      <div class="bg-light offcanvas offcanvas-end shadow" tabindex="-1" id="offcanvasNavbar"
        aria-labelledby="offcanvasNavbarLabel" style="min-width:19cm" ;>

        <div class="offcanvas-body">
          <section class="h-100" style="background-color: #eee;">
            <div class="container h-100">
              <div class="d-flex justify-content-between align-items-center mb-4">
                <h3 class="fw-normal mb-0 text-black">Shopping Cart</h3>
              </div>
              <ul id="cart" style="list-style: none;">
                <li id="item-1">
                  <div class="card rounded-3 mb-4">
                    <div class="card-body p-4">
                      <div class="row d-flex justify-content-between align-items-center">
                        <div class="col-md-2 col-lg-2 col-xl-2">
                          <img
                            src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-shopping-carts/img1.webp"
                            class="img-fluid rounded-3" alt="Cotton T-shirt">
                        </div>
                        <div class="col">
                          <p>Basic T-shirt</p>
                        </div>
                        <div class="col">
                          <div class="product-quantity ">
                            <div id="product-1" class="cart-item " data-quantity="1">
                              <button class="btn btn-default hidden shadow-none"
                                onclick="incrementQuantity('product-1')"><i class="fas fa-plus"></i></button>
                              <span class="quantity-display border">1</span>
                              <button class="btn btn-default hidden shadow-none"
                                onclick="decrementQuantity('product-1')"><i class="fas fa-minus"></i></button>
                            </div>
                          </div>
                        </div>
                        <div class="col">
                          <p> <span id="unit-price">10</span> $</p>
                        </div>
                        <div class="col ">
                          <button class="btn btn-default hidden text-danger" onclick="removeFromCart(1)">
                            <i class="fas fa-trash fa-lg"></i></buuton>
                        </div>
                      </div>
                    </div>
                  </div>
              </ul>
              </li>
              <hr class="mb-4" style="height: 2px; opacity: 1;">
              <div class="d-flex justify-content-between p-2 mb-2">
                <h5 class="fw-bold mb-0">Total:</h5>
                <h5 class="fw-bold mb-0" id="total-price"> $</h5>
              </div>
            </div>

        </div>
      </div>
      </section>
  </div>

  </div>

  </main>
  </div>

  <script src="~/lib/jquery/dist/jquery.min.js"></script>
  <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="~/js/site.js" asp-append-version="true"></script>
  @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
