.trash1_class:hover {
  color: blueviolet !important;
  background-color: beige;
}
.trash1_class {
  padding: 0.3cm;
  border-radius: 100%;
}
.close1_class:hover {
  color: rgb(255, 28, 28) important;
  background-color: beige;
}
.close1_class {
  padding: 0.3cm;
  border-radius: 100%;
}
.eye_class:hover {
  color: rgba(101, 0, 196, 0.74) important;
  background-color: rgb(218, 226, 228);
}
.eye_class {
  padding: 0.3cm;
  border-radius: 100%;
  cursor: pointer;
  color: #13005f;
}
.plus_1:hover {
  color: rgba(101, 0, 196, 0.74) important;
  background-color: rgb(218, 226, 228);
}
.plus_1 {
  padding: 0.3cm;
  margin-top: 5px;
  margin-right: 5px;
  border-radius: 100%;
  cursor: pointer;
  color: #13005f;
  overflow: hidden;
}
.rating {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

.rating > input{ display:none;}

.rating > label {
  position: relative;
    width: 1em;
    font-size: 2vw;
    color: #FFD600;
    cursor: pointer;
}
.rating > label::before{ 
  content: "\2605";
  position: absolute;
  opacity: 0;
}
.rating > label:hover:before,
.rating > label:hover ~ label:before {
  opacity: 1 !important;
}

.rating > input:checked ~ label:before{
  opacity:1;
}

.rating:hover > input:checked ~ label:before{ opacity: 0.4; }

